header {
    display: block;
    margin: 10px 0;
}

button {
    margin: 20px auto;
}

#highScores {
    position: fixed;
    left: 0;
    margin-left: 10px;
}

#timer {
    position: fixed;
    right: 0;
    margin-right: 10px;
}

#quizArea {
    margin: 100px 300px;
    text-align: center;
}

