header {
    display: block;
    margin: 10px 0;
}

button {
    margin: 20px auto;
}

#scores {
    margin: 0 25px;
}

#highScores {
    position: fixed;
    left: 0;
    margin-left: 10px;
}

#timer {
    position: fixed;
    right: 0;
    margin-right: 10px;
}

#quizArea {
    margin: 100px 300px;
    text-align: center;
}

#highScoresDiv {
    margin: 0 auto;
    text-align: center;
}

#highScoresDiv h1 {
    margin: 30px auto;
    text-align: center;
}

